/*
Copyright (c) 2018 Eli Frye

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (The Coined Word Generator), to deal
in The Coined Word Generator without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of The Coined Word Generator, and to permit persons to whom The Coined Word Generator is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of The Coined Word Generator.

THE COINED WORD GENERATOR IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE COINED WORD GENERATOR OR THE USE OR OTHER DEALINGS IN THE
THE COINED WORD GENERATOR.
*/
p
{
	font-size: 30px;
}
.error-message
{
	color: red;
}
button
{
	margin: 25px;
}